<mat-sidenav-container class="sidebarContainer">
    <mat-sidenav #sidenav class="mainSidenav" mode="side" opened>
        <mat-nav-list>

            <ng-container *ngFor="let item of navigationItems">

                <button mat-button class="navigationButton" [routerLink]="item.route" routerLinkActive="active">
                    <diva-icon [iconName]="item.icon"></diva-icon>
                    <span>{{ item.label }}</span>
                </button>

            </ng-container>

        </mat-nav-list>
    </mat-sidenav>
</mat-sidenav-container>