.sidebarContainer {
    width: 100%;
    height: 100%;
    border: none !important;
    z-index: 2;
}

.mainSidenav {
    width: var(--sidebar-width);
    padding: 1rem;
    border: none !important;
    background-color: var(--primary-color);
}

.navigationButton {
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    border-radius: 0.5rem;

    span {
        margin-left: 0.5rem;
        font-size: 1rem;
    }
}